In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
import pickle

In [2]:
df = pd.read_csv(r"E:\project ai lab\household_power_consumption.csv")
df

,index,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,0,1/1/07,0:00:00,2.58,0.136,241.97,10.6,0,0,0.0
1,1,1/1/07,0:01:00,2.552,0.1,241.75,10.4,0,0,0.0
2,2,1/1/07,0:02:00,2.55,0.1,241.64,10.4,0,0,0.0
3,3,1/1/07,0:03:00,2.55,0.1,241.71,10.4,0,0,0.0
4,4,1/1/07,0:04:00,2.554,0.1,241.98,10.4,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
260635,260635,30/6/2007,23:55:00,2.88,0.36,239.01,12,0,0,18.0
260636,260636,30/6/2007,23:56:00,2.892,0.358,238.86,12.2,0,0,17.0
260637,260637,30/6/2007,23:57:00,2.882,0.28,239.05,12,0,0,18.0
260638,260638,30/6/2007,23:58:00,2.66,0.29,238.98,11.2,0,0,18.0
260639,260639,30/6/2007,23:59:00,2.548,0.354,239.25,10.6,0,1,17.0

In [16]:
df.head()

,index,Date,Time,Global_active_power,Global_reactive_power,Voltage,Global_intensity,Sub_metering_1,Sub_metering_2,Sub_metering_3
0,0,1/1/07,0:00:00,2.580,0.136,241.97,10.6,0.0,0.0,0.0
1,1,1/1/07,0:01:00,2.552,0.100,241.75,10.4,0.0,0.0,0.0
2,2,1/1/07,0:02:00,2.550,0.100,241.64,10.4,0.0,0.0,0.0
3,3,1/1/07,0:03:00,2.550,0.100,241.71,10.4,0.0,0.0,0.0
4,4,1/1/07,0:04:00,2.554,0.100,241.98,10.4,0.0,0.0,0.0

In [3]:
df.columns

Index(['index', 'Date', 'Time', 'Global_active_power', 'Global_reactive_power',
       'Voltage', 'Global_intensity', 'Sub_metering_1', 'Sub_metering_2',
       'Sub_metering_3'],
      dtype='object')

In [ ]:

df.replace("?", np.nan, inplace=True)

In [6]:
# Convert numeric columns correctly
numeric_cols = [
    'Global_active_power', 'Global_reactive_power', 'Voltage',
    'Global_intensity', 'Sub_metering_1', 'Sub_metering_2', 'Sub_metering_3'
]

In [7]:
for col in numeric_cols:
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [8]:
df = df.dropna(subset=["Voltage"])

In [9]:
# 2. Create Features & Target
# -------------------------
X = df[numeric_cols].drop("Voltage", axis=1)
y = df["Voltage"]

In [10]:
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

In [11]:
pipeline = Pipeline([
    ("imputer", SimpleImputer(strategy="median")),
    ("scaler", StandardScaler()),
    ("model", RandomForestRegressor(n_estimators=150, random_state=42))
])

In [12]:
# 5. Fit Model
# -------------------------
pipeline.fit(X_train, y_train)
# -------------------------
# 6. Predict & Evaluate
# -------------------------
y_pred = pipeline.predict(X_test)
mse = mean_squared_error(y_test, y_pred)
print("MSE:", mse)

MSE: 5.008743225378917

In [ ]:
# 7. Save Model
# -------------------------
with open("model.pkl", "wb") as f:
    pickle.dump(pipeline, f)

print("Model saved successfully → model.pkl")

Model saved successfully → model.pkl

In [ ]:
from sklearn.metrics import r2_score

r2 = r2_score(y_test, y_pred)
print("R² score:", r2)

rmse = np.sqrt(mse)
print("RMSE:", rmse)

R² score: 0.6115739997483185
RMSE: 2.2380221682054264